.up-wrapper {
  min-height: 100vh;
  overflow: auto !important;
  .up-header {
    position: fixed;
    height: 60px;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 3px lightgray;
    display: flex;
    padding: 0 3%;
    align-items: center;
    z-index: 100;
    .btn {
      display: flex;
      align-items: center;
      i {
        margin: 0 5px;
      }
    }
    .tabItems {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      .item {
        cursor: pointer;
        font-size: 14px;
        margin: 0 10px;
        color: gray;
        width: auto;
        &.active {
          font-size: 15px;
          color: black;
          font-weight: 600;
        }
      }
    }
  }
  .up-content {
    padding-top: 80px;
    padding-bottom: 30px;
    main {
      width: 768px;
      margin: auto;
      .up-content-itemTypes {
        background: white;
        min-height: 300px;
        padding: 20px;
        box-shadow: 0 0 3px lightgray;
        border-radius: 4px;
        .listGroupItem {
          border-bottom: 1px solid whitesmoke;
          padding: 10px 0;
          .treeItem {
            cursor: pointer;
            display: flex;
            align-items: center;
            .treeItem-img {
              width: 70px;
              height: 60px;
              margin-right: 10px;
              border: 1px solid rgb(220, 220, 220);
              padding: 3px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .treeItem-icon {
              width: 70px;
              height: 60px;
              margin-right: 10px;
              padding: 3px;
              border: 1px solid rgb(220, 220, 220);
              .contentIcon {
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                background: rgb(56, 132, 255);
                i {
                  font-size: 35px;
                  color: white;
                }
              }
            }
            .btnCategoryCollapse {
              margin-right: 5px;
              font-size: 14px;
              width: 30px;
              height: 30px;
              color: rgb(56, 132, 255);
              font-size: 23px;
              font-weight: bolder;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .btnCategoryLeaf {
              width: 30px;
              height: 25px;
              font-size: 6px;
              margin-right: 5px;
            }
            .treeItem-text {
              flex: 1;
              display: flex;
              flex-direction: column;
              justify-content: center;
            }
            .treeItem-name {
              font-weight: 600;
            }
            .treeItem-desc {
              font-size: 10px;
            }
            .treeItem-action {
              margin-left: 5px;
              display: flex;
            }
            .hoverAction {
              display: none;
            }
          }
        }
      }
      .getItem-content-itemTypes {
        margin-top: 10px;
        .listGroupItem {
          border-bottom: 1px solid whitesmoke;
          padding: 10px 0;
        }
      }
      .up-content-title {
        font-size: 25px;
        font-weight: 500;
        margin: 10px 0;
        color: gray;
      }
      .up-categoryBox {
        height: 90px;
        box-shadow: 0 0 3px lightgray;
        margin-bottom: 10px;
        background: white;
        border-radius: 3px;
        display: flex;
        justify-content: flex-start !important;
        align-items: center;
        padding: 0 2%;
        span {
          flex: 1;
          font-size: 20px;
          font-weight: 500;
          padding: 0 10px;
        }
        .selectedCategory-img {
          width: 80px;
          height: 70px;
          margin-right: 10px;
          border: 1px solid rgb(220, 220, 220);
          padding: 3px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .selectedCategory-icon {
          width: 80px;
          height: 70px;
          margin-right: 10px;
          padding: 3px;
          border: 1px solid rgb(220, 220, 220);
          .contentIcon {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            background: rgb(56, 132, 255);
            i {
              font-size: 35px;
              color: white;
            }
          }
        }
      }
      .linkBox {
        height: 80px;
        box-shadow: 0 0 3px lightgray;
        margin-bottom: 10px;
        background: white;
        border-radius: 3px;
        padding: 0 5%;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .linkmsg {
          padding-bottom: 10px !important;
        }
        a {
          margin-left: 5px;
        }
      }
      .up-formInputs {
        border-radius: 3px;
        background: white;
        box-shadow: 0 0 3px lightgray;
        padding: 2% 4%;
        input[readonly],
        textarea[readonly],
        select[disabled] {
          background: white;
        }
        .rowItem {
          margin: 20px 0;
        }

        .actions {
          .btns {
            display: flex;
            flex-direction: row-reverse;
            .btn {
              margin-left: 10px;
            }
          }
        }
        .form-submit-btns {
          display: flex;
          flex-direction: row-reverse;
          & button:last-child {
            margin-left: 10px;
          }
        }
        .shortDesc textarea {
          min-height: 100px;
        }
        .longDesc textarea {
          min-height: 200px;
        }
      }
      .up-error-section {
        min-height: 250px;
        background: white;
        box-shadow: 0 0 3px lightgray;
        border-radius: 3px;
      }
    }
  }
}

.richText-header-customBtn {
  padding: 0 10px;
  color: gray;
  cursor: pointer;
}
.contentTypesSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  span {
    margin-top: 10px;
  }
}
.requestAlert {
  a {
    font-size: 14px;
    padding-left: 5px;
  }
  .requestAlert-top {
    display: flex;
    align-items: center;
    .requestSuccessIcon {
      margin-right: 10px;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      background-color: chartreuse;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 27px;
      margin-bottom: 10px;
    }
  }
  .form-group {
    margin-top: 20px;
  }
}
