.item {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid #fff;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover .percent {
    display: none;
  }
  &:hover .cancel {
    display: block;
  }
  .percent {
    position: absolute;
    z-index: 100;
    font-size: 12px;
    color: black;
  }
  .cancel {
    display: none;
    position: absolute;
    z-index: 100;
    font-size: 13px;
    color: lightgray;
  }
}

.radial-inner-bg {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  top: 8px;
  left: 8px;
  background: #fff;
  position: absolute;
}

$step: 1; // step of % for created classes
$loops: 100;
$increment: (360 / $loops);
$half: round($loops / 2);
@for $i from 0 through $loops {
  .progress-#{$i*$step} {
    @if $i < 50 {
      $nextdeg: 90deg + ($increment * $i);
      background-image: linear-gradient(
          90deg,
          #fff 50%,
          transparent 50%,
          transparent
        ),
        linear-gradient($nextdeg, rgb(56, 132, 255) 50%, #fff 50%, #fff);
    } @else {
      $nextdeg: -90deg + ($increment * ($i - $half));
      background-image: linear-gradient(
          $nextdeg,
          rgb(56, 132, 255) 50%,
          transparent 50%,
          transparent
        ),
        linear-gradient(270deg, rgb(56, 132, 255) 50%, #fff 50%, #fff);
    }
  }
}
