@import "./icons.css";
@import "./colors.scss";
@import "./variables.scss";
@import "./mixins.scss";
@font-face {
  font-family: "Samim";
  src: url("./../assets/fonts/Samim.ttf");
}
@font-face {
  font-family: "OpenSance";
  src: url("./../assets/fonts/OpenSans-Regular.ttf");
  font-weight: bold;
}

body {
  font-family: Samim, OpenSance;
  overflow-x: hidden;
  // min-width: 992px;
  overflow: auto;
  background: whitesmoke;
}
.emailInput {
  text-align: left;
}
.emailInput::placeholder {
  @include variable(text-align, text-align, left);
}
.page-loading {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}
.page-list-error {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
*,
html,
body {
  scroll-behavior: smooth;
  @include variable(direction, direction, ltr);
  @include variable(text-align, text-align, left);
  //@include variable(float, float, left);
}

.modal-dialog .modal-content .modal-header h5 {
  flex: 1;
}
.dropdown-item {
  @include variable(text-align, text-align, left);
  padding-left: 10px !important;
  padding-right: 10px !important;
}
*::-webkit-scrollbar,
div::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  transition: 1s ease-in-out;
  -webkit-transition-duration: 0.3s;
}
*::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background-color: lightgray;
  -webkit-border-radius: 10px;
  transition: 1s ease-in-out;
  -webkit-transition-duration: 0.3s;
}
html::-webkit-scrollbar-thumb:hover,
div::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(145, 134, 134);
  transition: 1s ease-in-out;
  -webkit-transition-duration: 0.3s;
}

html::-o-scrollbar,
div::-o-scrollbar {
  width: 9px;
  transition: 1s ease-in-out;
  transition-duration: 0.3s;
}
html::-o-scrollbar-thumb,
div::-o-scrollbar-thumb {
  background-color: lightgray;
  -webkit-border-radius: 10px;
  transition: 1s ease-in-out;
  transition-duration: 0.3s;
}
html::-o-scrollbar-thumb:hover,
div::-o-scrollbar-thumb:hover {
  transition: 1s ease-in-out;
  transition-duration: 0.3s;
}

html::-moz-scrollbar,
div::-moz-scrollbar {
  width: 9px;
  transition: 1s ease-in-out;
  transition-duration: 0.3s;
}
html::-moz-scrollbar-thumb,
div::-moz-scrollbar-thumb {
  background-color: lightgray;
  -webkit-border-radius: 10px;
  transition: 1s ease-in-out;
  transition-duration: 0.3s;
}
html::-moz-scrollbar-thumb:hover,
div::-moz-scrollbar-thumb:hover {
  background-color: rgb(145, 134, 134);
  transition: 1s ease-in-out;
  transition-duration: 0.3s;
}

.custom_checkbox {
  margin-top: 20px;
  display: flex;
  @include variable(rowDirection, flex-direction, row);
  label {
    @include variable(textAlign, text-align, left);
    margin: 0 10px;
    cursor: pointer;
  }
  .left {
    padding: 0 0px;
    .radio {
      display: block;
      position: relative;
      padding-left: 30px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 20px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default radio button */
    .radio input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    /* Create a custom radio button */
    .checkround {
      position: absolute;
      top: 6px;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #fff;
      border-color: rgb(56, 132, 255);
      border-style: solid;
      border-width: 2px;
      border-radius: 50%;
    }

    /* When the radio button is checked, add a blue background */
    .radio input:checked ~ .checkround {
      background-color: #fff;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkround:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .radio input:checked ~ .checkround:after {
      display: block;
    }

    /* Style the indicator (dot/circle) */
    .radio .checkround:after {
      left: 2px;
      top: 2px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: rgb(56, 132, 255);
    }

    /* The check */
    .check {
      display: block;
      position: relative;
      padding-left: 25px;
      margin-bottom: 12px;
      padding-right: 15px;
      cursor: pointer;
      font-size: 18px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default checkbox */
    .check input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: center;
    & label:first-child {
      cursor: pointer;
      font-size: 14px;
      margin-bottom: 5px;
    }
    & label {
      margin: 0;
      margin-top: -5px;
    }
  }
}
.inputSwitch {
  display: flex;
  flex-direction: column;
  & span:nth-child(2) {
    font-size: 12px;
    padding-top: 5px;
  }
  .inputSwitch-content {
    padding-top: 15px;
    button {
      margin: 0 10px;
    }
  }
}
.unkownFileType {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.assetFile {
  .un-icon {
    font-size: 18px;
  }
  .un-text {
    font-size: 10px;
    font-weight: 500;
  }
}
.fileUploader {
  .un-icon {
    font-size: 25px !important;
  }
  .un-text {
    font-size: 20px;
    font-weight: 500;
  }
}

.ajax-button {
  display: flex;
  span {
    margin: 0 5px;
  }
}

.rosolverError {
  background: white;
  width: 500px;
  height: 300px;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0 0 5px lightgray;
  .icon {
    font-size: 60px;
  }
  .title {
    font-size: 30px;
    margin: 10px 0;
  }
  .info {
    margin-bottom: 10px;
  }
}
.emptyContenType {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .icon {
    font-size: 60px;
  }
  .title {
    font-size: 30px;
    margin: 10px 0;
  }
  .info {
    margin-bottom: 10px;
  }
}

.loaderBox {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .loader {
    margin-bottom: 20px;
    height: 4px;
    width: 40%;
    position: relative;
    overflow: hidden;
    background-color: lightgray;
  }
  .loader:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: rgb(56, 132, 255);
    animation: loading 2s linear infinite;
  }
}
@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}

.thumbnail-video {
  position: relative;
  height: 100%;
  .icon-video {
    font-size: 40px;
    cursor: pointer;
    color: white;
  }
  video {
    height: 100%;
    z-index: 2;
    object-fit: cover;
  }
  .thumbnail-cover {
    z-index: 3;
    position: absolute;
    width: 60px;
    border-radius: 3px;
    height: 40px;
    margin: auto;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
