@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
@mixin boxShadow($property) {
  -webkit-box-shadow: $property;
  -ms-box-shadow: $property;
  box-shadow: $property;
}
@mixin variable($variable, $property, $fallback) {
  // Fallback for browsers that don't support css vars
  #{$property}: $fallback;
  #{$property}: var(--#{$variable});
}