.profile-widget {
  padding: 20px 0px;
  display: flex;
  border-bottom: 0.5px solid lightgray;
  .userImage {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(56, 132, 255);
    padding: 3px;
    border-radius: 100%;
    img {
      border-radius: 100%;
      width: 100%;
      height: 100%;
    }
  }
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 132, 255);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    .icon-user {
      color: white;
      font-size: 22px;
    }
  }
  .centerbox {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 20px;
    .userName {
      font-weight: 500;
    }
    .role {
      font-size: 12px;
      color: lightgray;
    }
  }
  .right {
    justify-content: center;
    align-items: center;
    display: flex;
    .dropDownToggle {
      background: transparent;
    }
  }
}
